{% extends "base.html" %}
{% block title %}Order# {{ po_line.po_number }} {% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>PO# {{ po_line.po_number }}</h1>
    <h3>Vendor: {{po_line.vendor.name }}</h3>
    <table class='table table-stripped table-hover table-condensed table-bordered'>
      <thead>
        <tr>
          <th>P/N</th>
          <th>Description</th>
          <th>Ordered Date</th>
          <th>Qty Ordered</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ po_line.pn }}</td>
          <td>{{ po_line.description }}</td>
          <td>{% if po_line.po_date %}{{ po_line.po_date.strftime('%m/%d/%Y') }}{% endif %}</td>
          <td>{{ '{:,}'.format(po_line.qty_ordered)}}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="col-md-4">
  {{ wtf.quick_form(form) }}
</div>

{% endblock %}
